/* :root {
  line-height: 1.5;
  font-weight: 400;
} */
::selection {
  background-color: #f1c7af; /* Light version of #d28454 */
  color: #ffffff;
}

::-moz-selection {
  background-color: #f1c7af;
  color: #ffffff;
}

:root {
  --color-primary: #d28454;
  --color-text: #ffffff;

  /* Filter approximation for #d28454 */
  --color-primary-filter: invert(69%) sepia(34%) saturate(518%) hue-rotate(338deg) brightness(91%) contrast(85%);

  --color-secondary: #f1c7af; /* Light version of primary */
  
  /* Filter approximation for #f1c7af */
  --color-secondary-filter: invert(91%) sepia(18%) saturate(288%) hue-rotate(324deg) brightness(103%) contrast(89%);

  --color-text-black: #000000;
  line-height: 1.5;
  font-weight: 400;
}




.contentCss {
  font-size: 15px;
  line-height: 24px;
  color: var(--color-text-black);
  font-weight: 400;
}

.web_link a {
  text-decoration: none;
  font-size: 13px;
  color: var(--color-primary);
}

.label_css {
  font-weight: 600;
}

.url_link {
  text-decoration: none !important;
}

.main {
  min-height: 50vh;
}

.rounded_full {
  border-radius: 100%;
}

.parent-css .parent-css .rti--container {
  border: 0 !important;
}

.login_Styl {
  display: flex;
}

.parent-css .rti--input:focus,
.rti--input:active {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.error {
  border: 1px solid #d53343;
  border-radius: 6px;
}

.verified_icon {
  color: #31911c;
  position: absolute;
  top: 2px;
  right: 2px;
}

.textColor {
  color: #d53343;
  font-size: 14px !important;
}

.textColors {
  color: #d53343;
  font-size: 14px !important;
}

.required-star {
  color: red;
  margin-left: 2px;
}

.parent-css .rti--container {
  --rti-bg: #fff;
  --rti-border: none !important;
  --rti-main: #3182ce;
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  --rti-tag-padding: 0.15rem 0.25rem;
  align-items: center;
  background: var(--rti-bg);
  border: 1px solid var(--rti-border);
  border-radius: var(--rti-radius);
  display: flex;
  flex-wrap: wrap;
  gap: var(--rti-s);
  line-height: 1.4;
  padding: var(--rti-s);
}

.parent-css .rti--container:focus,
.parent-css .rti--container:focus-visible,
.parent-css .rti--container:focus-within,
.parent-css .rti--container:active {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.jobs_item {
  text-decoration: none !important;
  color: inherit;
}

.textColor {
  color: #d53343;
  font-size: 14px !important;
}

.image-container {
  position: relative;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrappers {
  position: relative;
  display: inline-block;
}

.form-label-style {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #99a1b7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  display: flex;
}

.image-wrapper:hover .overlay {
  display: flex;
  cursor: pointer;
  background-color: #2c27276e;
  border-radius: 4px;
}

.primary_btn {
  background-color: var(--color-primary) !important;
  color: var(--color-text) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}

.page_cud_link a {
  text-decoration: none;
  color: inherit;
}

.page_cud_link a:hover {
  text-decoration: none;
  color: inherit;
}

.click_resend {
  color: #f9322c;
  cursor: pointer;
  padding: 0 2px;
  font-weight: 500;
}

.width_94 {
  width: 94%;
}

.text_me_mo {
  color: #6b6c6f;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.image-wrappers:hover .overlay {
  display: flex;
  cursor: pointer;
  background-color: #2c27276e;
  border-radius: 50%;
}

.highlight {
  color: #0d0303;
  font-size: 15px;
  font-weight: 600;
}

.image-styl {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.pencil-icon {
  font-size: 10px;
  color: #fff;
  width: 20px;
  height: 20px;
}

.data_table_wrapper .bMuwEY {
  overflow-y: inherit;
  overflow-x: inherit;
}

.jobs_item :hover {
  text-decoration: none !important;
  color: #4e4949 !important;
}

.str_rating {
  /* width: 30px; */
  /* height: 30px; */
  text-align: center;
  /* border: 1px solid #5f7693; */
  margin: 0 3px;
  border-radius: 5px;
  color: #ff9800;
  font-size: 18px;
}

.styl_css {
  width: 60% !important;
  float: right !important;
}

tbody tr {
  border: 0;
}

tbody tr td {
  font-size: 14px;
  vertical-align: middle;
}

.post_cc_table td:first-child {
  width: 24rem;
}

.post_cc_table td small {
  font-size: 13px;
}

.post_cc_table td button {
  font-size: 14px;
}

.pln_dd_cc {
  font-size: 13px;
  font-weight: 600;
  color: var(--color-primary);
}

._make {
  text-transform: capitalize;
}

.ind_icon {
  width: 30px;
  height: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #edf1f9;
  border-radius: 50%;
  margin-right: 5px;
}

.ind_type h6 {
  font-size: 14px;
  margin: 0 3px;
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 0;
}

.ind_icon svg {
  width: 14px;
  height: 14px;
  color: #a1abc9;
}

.custom_label {
  color: #212529;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.updgrade_plan {
  width: 100%;
  text-align: center;
  border: 0;
  text-decoration: none;
  background-color: #269d45 !important;
  color: white;
  display: table;
  border-radius: 5px;
  margin-top: 5px !important;
  font-size: 14px !important;
  padding: 6px 8px !important;
  font-weight: 500 !important;
}

.icon_size svg {
  width: 18px !important;
  height: 18px !important;
}

.icon_size a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: #676161;
  margin-right: 20px;
}

.un_link {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 0;
  color: #5f7693;
  cursor: default;
}

.un_link:hover {
  color: #5f7693;
  text-decoration: none;
  cursor: default;
}

.updgrade_plan:hover {
  color: white !important;
}

.bg_light_success {
  background-color: #efffef;
  color: #248500 !important;
  padding: 0.25rem 0.5rem;
  border: 1px solid #248500;
  border-radius: 50px;
}

.bg_light_successes {
  background-color: #efffef;
  color: #248500 !important;
  padding: 0px 9px;
  border: 1px solid #248500;
  border-radius: 50px;
}

.bg_light_warn {
  background-color: #fff8dd;
  color: #ffc700 !important;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ffc700;
  border-radius: 50px;
}

.bg_light_danger {
  border: 1px solid #f1416c;
  background-color: #fff5f8;
  color: #f1416c;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
}

.link_styl {
  text-decoration: none;
}

.bg_light_dangers {
  border: 1px solid #f1416c;
  background-color: #fff5f8;
  color: #f1416c;
  padding: 0px 9px;
  border-radius: 50px;
}

.comment_section {
  width: 24rem;
}

.errBoxStyle {
  color: #f1416c;
  /* border-color: #f1416c; */
  background-color: #fff5f8;
  border: 1px solid #f1416c;
  max-width: 460px;
  margin: 0 auto;
  padding: 1rem !important;
  margin-bottom: 1.75rem;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

.review_btn {
  border-radius: 8px;
  background: #5f7693;
  padding: 8px;
  font-size: 13px !important;
  text-decoration: none;
  color: white;
  font-weight: 600;
  border: 0;
}

.faq_wrap {
  width: 80% !important;
  margin: 0 auto !important;
}

.post_submit_btn {
  padding: 6px 15px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.alink {
  color: var(--color-primary) !important;
}

a:hover {
  color: var(--color-secondary)
}

.payment_page {
  width: 100%;
  margin: 0;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: -6px 8px 16px 10px rgba(0, 0, 0, 0.02);
}

.pay_btn {
  display: block !important;
  width: 100%;
  border-radius: 4px !important;
  margin-top: 25px !important;
}

body {
  margin: 0;
  /* font-family: "Outfit", sans-serif !important; */
}

.blog_tbl_cl td {
  text-align: left;
}

.banner_slider img {
  width: 100% !important;
  height: 535px !important;
  object-fit: cover !important;
}

.slick-track {
  width: 100%;
}

.for_list_view_cl .list_cus {
  grid-template-columns: inherit !important;
}

/*****************/

.faq-item {
  border: 1px solid #e0e0e0;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.faq-item:hover {
  background-color: #f9f9f9;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.faq-item.active .faq-answer {
  max-height: 1000px;
  /* Adjust to your content height */
}

.faq-item .faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item .faq-question .arrow {
  font-size: 20px;
  margin-left: 10px;
  transition: transform 0.6s;
}

.faq-item.active .faq-question .arrow {
  transform: rotate(90deg);
}

.faq-icon-styl {
  color: #212529;
  font-size: 23px;
  font-weight: bold;
}

/* sr */
.search_result_wrpper {
  flex-direction: column;
  margin: 10px auto auto;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 85%;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  z-index: 999999;
}

.search_result_container {
  max-height: calc(400px - 40px);
  /* min-height: 50px; */
  overflow-y: auto;
  overflow-y: overlay;
  padding: 0 12px;
}

.no_sr_found {
  display: block;
  text-align: center;
  padding: 15px 0;
  min-height: 50px;
}

/* width */
.search_result_container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.search_result_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.search_result_container::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 8px;
}

/* Handle on hover */
.search_result_container::-webkit-scrollbar-thumb:hover {
  background: #495057;
  border-radius: 8px;
}

.search_result_wrpper .search_result_module {
  background: #fff;
  color: #5f7693;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 32px;
  margin: 0 -4px;
  padding: 8px 4px 0;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  z-index: 10;
}

.search_result_wrpper ul {
  margin-bottom: 0;
  padding-left: 0;
}

.search_result_wrpper ul li {
  border-radius: 4px;
  display: flex;
  padding-bottom: 4px;
  position: relative;
  list-style: none;
}

.header_notice_wrap {
  background-color: #ffcf59;
  padding: 4px;
}

.header_notice {
  margin-bottom: 0;
}

.header_notice p {
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.search_result_wrpper a {
  background: #fff;
  color: #000 !important;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #d4d9e1;
  display: block;
  padding-left: 12px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.hide_sr_list {
  display: none;
}

.search_result_wrpper .s_r_title {
  color: #000;
  font-size: 0.75em;
  font-weight: 500;
}

.search_result_wrpper a:hover .s_r_title {
  color: #ffffff;
}

.search_result_wrpper a:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary) !important;
}

.search_result_wrpper .s_r_content_wrapper {
  padding: 10px;
}

.tbl_nm p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.tbl_nm h5 {
  font-size: 13px;
}

.bFyntL {
  padding: 0;
}

.tbl_img img {
  width: 45px !important;
}

.business_tbl {
  margin-top: 20px;
}

.business_tbl td {
  text-align: left;
}

.business_tbl thead th {
  font-weight: 500;
  font-size: 15px;
}

.business_tbl tbody tr {
  border-bottom: 1px dashed #5f76932b;
}

.tbl_adrs p {
  font-size: 14px;
}

.action_drp_dwn button {
  padding: 0;
  border: 0;
  box-shadow: inherit !important;
  outline: 0 !important;
}

.action_drp_dwn .dropdown-menu {
  padding: 0;
  min-width: 110px;
  border-radius: 0;
  top: 16px !important;
  border: 1px solid #f2f1f1 !important;
}

.action_drp_dwn .dropdown-menu a {
  font-size: 14px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.action_drp_dwn .dropdown-item.active,
.action_drp_dwn .dropdown-item:active {
  background-color: var(--color-primary);
  outline: 0;
}

/*******************/

.banner_slider {
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.wrap_banner_slider_data {
  position: relative;
}

.banner_slider .slick-next {
  left: inherit;
  z-index: 999;
  right: 100px;
  
}

.banner_slider .slick-prev {
  left: 100px;
  z-index: 999;
}

.banner_overlay {
  box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 63%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner_caption {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  top: 25%;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.banner_caption h1 {
  color: white;
  font-weight: 700;
  font-size: 45px;
}

.banner_caption p {
  color: white;
  font-size: 20px;
}

.banner_slider .slick-next {
  left: inherit;
  z-index: 999;
  right: 100px;
    transition: all ease-in-out .2s;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  
}

.banner_slider .slick-prev {
  left: 100px;
  z-index: 999;
    transition: all ease-in-out .2s;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
}

.banner_slider .slick-prev:before {
   content: "" !important;
   background-image: url("../public/imgs/Previous-slide-icon.svg");
   position: absolute;
   background-size: contain;
   height: 45px;
   width: 45px;
   background-repeat: no-repeat;
    filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}

.banner_slider .slick-next:before {
  content: "" !important;
  background-image: url("../public/imgs/Next-slide-icon.svg");
  position: absolute;
  background-size: contain;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  left: -40px;
 filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}

/* Hover par color change */
/* .banner_slider .slick-prev:hover:before,
.banner_slider .slick-next:hover:before {
   filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);

} */

.caption_btn a {
  text-decoration: none;
  margin: 0 5px;
  width: 140px;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 60px;
}

.order_now a {
  background-color: white;
  color: #5f7693;
  border: 4px solid #fff;
}

.explore a {
  border: 4px solid #fff;
  color: white;
}

/****RealEstat****/
.realEstate_slide_wrap {
  background: rgba(231, 231, 241, 0.35);
  padding: 45px 0;
  /* margin-top: 40px; */
}

.section_Heading h2 {
  font-weight: 700;
  font-size: 26px;
  color: #07092b;
  margin-bottom: 4px;
}

.section_Heading p {
  color: #6b6b6b;
}

.realEstate_itme {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgb(152 146 146 / 15%);
  border: 2px solid #5f76931f;
  margin: 10px;
}

.realEstate_img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 180px;
  object-fit: cover;
  /* position: relative; */
  /* object-fit: cover; */
}

.realEstate_text_data {
  padding: 6px 8px 10px;
}

.realEstate_text_data h3 {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
}

.realEstate_text_data p:first {
  color: #6b6b6b !important;
}

.text_dess_cri {
  color: #6b6b6b;
}

.field_title {
  position: absolute;
  right: 18px;
  top: 5px;
  display: inline-flex;
  gap: 6px;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-primary);
  color: var(--color-secondary) !important;
  border-radius: 4px;
  padding: 6px;
}

.field_title svg {
  width: 13px;
  height: 13px;
  font-weight: 600;
  color: #fff;
}

.for_list_view_cl- .field_title {
  position: absolute;
  right: 8px;
  top: 8px;
}

.date_val {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
}

.star_rtng_nmbr {
  background: rgba(0, 150, 129, 0.1);
  font-size: 13px;
  padding: 5px;
  border-radius: 4px;
  font-weight: 500;
  position: relative;
  top: 3px;
  color: #009681;
  display: inline-block;
  margin: 7px 0;
}

.star_rtng_star p {
  position: relative;
  top: 2px;
  margin: 0 14px;
  font-size: 15px;
}

.star_rtng_star svg {
  color: rgba(255, 152, 0, 1);
  font-size: 16px;
  margin: 3px 2px;
}

.beds_bath_sqft p {
  font-size: 12px;
  margin: 0 3px;
  font-weight: 600;
  margin-right: 8px;
}

.filter_options {
  width: 250px;
}

.filter_options .css-1dimb5e-singleValue {
  color: #17191af0 !important;
  font-size: 13px;
  font-weight: 500;
}

.filter_options .css-13cymwt-control {
  min-height: 30px !important;
}

.filter_options input {}

.filter_options input:focus {}

.uploadby_by img {
  width: 17px;
  margin-right: 6px;
}

.uploadby_by p {
  margin-bottom: 0;
}

.beds_bath_sqft {
  margin: 14px 0;
  margin-bottom: 0;
}

.slider_home {
  position: relative;
}

.slider_home .field_title {
  top: 20px;
}

._card_s {
  padding: 0;
}

._card_s ul {
  padding: 10px 30px !important;
}

._card_s ul li {
  margin-bottom: 10px !important;
  color: var(--color-primary) !important;
}

._topic_name {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* margin-bottom: 4px; */
  max-height: 40px;
  color: var(--color-primary) !important;
}

.web_link_wr {
  text-align: center;
  padding: 10px 0;
}

.web_link_wr a {
  text-decoration: none;
  color: #ec625e;
}

.web_link_wr a:hover {
  text-decoration: underline;
  color: #f9322c;
}

.web_link_wr h4 {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.list_cal_re {
  display: inline-flex;
}

.list_cal_re svg {
  width: 13px;
  height: 13px;
  font-weight: 600;
  color: var(--color-primary);
}

.list_cal_re span {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
}

.uploadby_by p {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: 500;
}

.btn_view_dtls a {
  border-radius: 3.2px;
  background: var(--color-primary);
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-text-black);
  font-weight: 300 !important;
  font-size: 13px;
  font-size: 11px;
  font-weight: 500;
}

.realEstate_slide_wrap .slick-prev {
  right: 100px;
  z-index: 999;
  left: inherit;
  top: -60px;
}

.realEstate_slide_wrap .slick-next {
  right: 0px;
  z-index: 999;
  left: inherit;
  top: -60px;
}

.realEstate_slide_wrap .slick-prev:before {
  content: "" !important;
  background-image: url("../public/imgs/pre.svg");
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;

  /* Normal state filter color */
  filter: var(--color-secondary-filter);
  -webkit-filter: var(--color-secondary-filter);

  transition: filter 0.3s ease;
}

.realEstate_slide_wrap .slick-prev:hover:before {
  /* Hover state filter color */
  filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}

.realEstate_slide_wrap .slick-next:before {
  content: "" !important;
  background-image: url("../public/imgs/next.svg");
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  left: -40px;
   /* Normal state filter color */
  filter: var(--color-secondary-filter);
  -webkit-filter: var(--color-secondary-filter);

  transition: filter 0.3s ease;
}
.realEstate_slide_wrap .slick-next:hover:before {
  /* Hover state filter color */
  filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}

.expand {
  width: 25px !important;
  margin-bottom: 18px;
  padding-top: 5px;
}

.discription_real_estate {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
  height: 40px;
}

.radio_btn_wrap label {
  background-color: #f8f9fa;
  /* width: 40%; */
  margin-right: 12px;
  padding: 3px 7px 4px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.button_rights {
  text-align: end !important;
}

.radio_btn_wrap label input {
  margin-right: 6px;
}

li .realEstate_itme {
  margin: 0;
  margin-bottom: 15px;
}

/***LiST VIEW***/
.for_list_view_cl {}

.for_list_view_cl .lst_ddta_wr {
  grid-template-columns: 1fr;
}

.for_list_view_cl .realEstate_itme {
  display: flex;
}

.for_list_view_cl .realEstate_img {
  position: relative;
}

.for_list_view_cl .realEstate_img img {
  width: 250px !important;
  border-radius: 0;
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  height: 230px !important;
  object-fit: cover;
}

.for_list_view_cl .discription_real_estate {
  -webkit-line-clamp: 3;
}

.for_list_view_cl .realEstate_text_data {
  padding: 13px 20px 10px;
}

.for_list_view_cl .star_rtng_star {
  padding: 6px 0;
}

.for_list_view_cl .uploadby_by p {
  font-size: 13px;
}

.for_list_view_cl .btn_view_dtls a {
  padding: 7px 24px;
  font-weight: 300 !important;
  font-size: 15px;
}

.for_list_view_cl .beds_bath_sqft {
  margin: 8px 0 !important;
}

.for_list_view_cl .star_rtng_nmbr {
  margin: 2px 0;
}

/********vendor css*************/
.ReactTags__tagInput input {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.375rem;
}

.ReactTags__tag {
  border: 1px solid #bdbdbd;
  padding: 3px 5px 5px;
  margin: 10px 3px;
  display: inline-block;
  border-radius: 0.375rem;
  line-height: 18px;
}

.ReactTags__tag button {
  background-color: transparent;
  border: 0;
  color: #ec4646;
}

.dropzone p {
  margin-bottom: 0;
}

.dropzone {
  padding: 60px !important;
  border-radius: 0.375rem !important;
}

.form_wrap_products .nav-link {
  padding: 5px 10px;
  margin: 0 8px;
  border-radius: 5px;
  color: var(--color-primary);
}

.form_wrap_products .nav-link.active {
  background: var(--color-primary);
}

button[type="submit"] {
  background: var(--color-primary) !important;
  border: 0;
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
}

.upload_video_wrap button {
  padding: 5px 10px;
  margin: 0 8px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white !important;
}

.upload_video_wrap button svg {
  background-color: white;
  position: relative;
  top: -3px;
  margin-right: 0px;
  border-radius: 20px;
  color: #5f7693;
  padding: 2px;
}

/********CLOSE *************/
/********CLOSE REAL ESTATE*************/
/*****Jobs-Grid*****/
.wrap_jobs_slider {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgb(152 146 146 / 0%);
  border: 2px solid #5f769317;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  margin-right: 12px;
}

.job_grd_top img {
  width: 80%;
  margin: 0 auto;
  height: 75px;
  /* object-fit: cover; */
}

.job_left_logo {
  width: 30%;
}

.job_rght_text {
  width: 70%;
}

.text-min-20 {
  min-height: 25vh;
  max-height: 25vh;
}

.job_rght_text h3 {
  font-size: 17px;
  color: #07092b;
}

.job_rght_text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}

.offer_ars a {
  text-decoration: none;
}

.des_wrap_jb {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 85px;
}

.grid_container {
  min-height: 400px;
}

.shave_jobs {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.jobs_tab {
  margin-top: 15px;
}

.jobs_tab span {
  border-radius: 3px;
  background: #efefef;
  /* margin: 0px 3px; */
  padding: 3px 10px;
  font-size: 12px;
  border: 1px solid #5f769329;
}

.verify_tick {
  padding: 10px 10px 0;
}

.job_rght_text a {
  text-decoration: none;
  font-size: 14px;
  color: #4e4949;
}

.verify_tick img {
  margin-right: 5px;
}

.verify_tick span {
  font-size: 13px;
}

.post_time_data p {
  font-size: 12px;
  margin-bottom: 0;
}

.post_time_data b {
  color: #5f7693;
  font-size: 12px;
}

.post_time_data b svg {
  position: relative;
  top: -1px;
}

.wrap_job_slider_data .slick-prev {
  right: 100px;
  z-index: 999;
  left: inherit;
  top: -60px;
}

.wrap_job_slider_data .slick-next {
  right: 0px;
  z-index: 999;
  left: inherit;
  top: -60px;
}

.wrap_job_slider_data .slick-prev:before {
  content: "" !important;
  background-image: url("../public/imgs/pre.svg");
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
   /* Normal state filter color */
  filter: var(--color-secondary-filter);
  -webkit-filter: var(--color-secondary-filter);

  transition: filter 0.3s ease;
}

.wrap_job_slider_data .slick-next:before {
  content: "" !important;
  background-image: url("../public/imgs/next.svg");
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  left: -40px;
   /* Normal state filter color */
  filter: var(--color-secondary-filter);
  -webkit-filter: var(--color-secondary-filter);

  transition: filter 0.3s ease;
}

.wrap_job_slider_data .slick-next:hover:before {
  /* Hover state filter color */
  filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}
.wrap_job_slider_data .slick-prev:hover:before {
  /* Hover state filter color */
  filter: var(--color-primary-filter);
  -webkit-filter: var(--color-primary-filter);
}


.vertical-slider {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

.example-thumb {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid #5f7693;
  box-sizing: border-box;
}

.example-track {
  position: relative;
  background: #d4e1f6;
}

.example-track.example-track-1 {
  background: #5f7693;
}

.example-track.example-track-2 {
  background: #d4e1f6;
}

.example-mark {
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

.horizontal-slider .example-track {
  top: 6px;
  height: 6px;
  border-radius: 40px;
}

.horizontal-slider .example-thumb {
  top: -6px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 50%;
}

.horizontal-slider .example-mark {
  margin: 0 calc(25px - 6px);
  bottom: calc(50% - 6px);
}

.vertical-slider .example-thumb {
  left: 1px;
  width: 48px;
  line-height: 40px;
  height: 50px;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}

.vertical-slider .example-mark {
  margin: calc(25px - 6px) 0;
  left: calc(50% - 6px);
}

.example-thumb-1 {
  right: 0;
}

.files_wrap {
  position: relative;
}

.bin_file {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  cursor: pointer;
  padding: 0 8px;
}

/* loader css */
.loader_container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.custom-loader {
  width: 12px;
  height: 12px;
  background: #0d0303;
  border-radius: 50%;
  box-shadow: 20px 0 #0d030322, -20px 0 #0d0303;
  animation: d5 1s infinite linear alternate;
}

@keyframes d5 {
  0% {
    box-shadow: 20px 0 #0d0303, -20px 0 #0d030322;
    background: #0d0303;
  }

  33% {
    box-shadow: 20px 0 #0d0303, -20px 0 #0d030322;
    background: #0d030322;
  }

  66% {
    box-shadow: 20px 0 #0d030322, -20px 0 #0d0303;
    background: #0d030322;
  }
}

/*****Gallery Img****/
img.image-gallery-image {
  border-radius: 8px;
  object-fit: cover !important;
  height: 100% !important;
}

.ReactTags__tag {
  border: 1px solid #bdbdbd;
  padding: 3px 5px 5px;
  margin: 5px 3px !important;
  display: inline-block;
  border-radius: 0.375rem;
  line-height: 18px;
}

.image-gallery-thumbnail.active {
  border: 4px solid var(--color-primary);
  background-color: var(--color-primary);
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  top: inherit;
  transform: translateY(70%);
  bottom: -28px;
  padding: 0;
  height: 86px;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 40px !important;
  width: 16px !important;
  color: #5f7693;
}

.image-gallery-thumbnail {
  height: 78px;
  width: 98px;
  border-radius: 5px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 70px;
  width: 90px;
  object-fit: cover;
  border-radius: 5px;
}

.wrap_video_cl iframe {
  width: 100%;
  height: 280px;
}

.vdo_cl {
  width: 100% !important;
  height: auto !important;
}

.react-datepicker-wrapper {
  display: block !important;
}

.card-body .busiImg {
  object-fit: cover !important;
  height: 450px !important;
}

.caption_btn a:hover {
  background: var(--color-primary);
  color: var(--color-text);
  border-color:var(--color-primary);
}

/***************/
.breadcrumb-item p {
  margin-bottom: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

/**********Model*********/
.community_corner {
  background-color: rgba(232, 232, 232, 0.32) !important;
}

.community_corner .modal-content {
  width: 630px;
}

.community_corner .modal-dialog {
  justify-content: center !important;
}

.close_filter {
  display: none;
}

.beds_bath_sqft {
  display: flex;
}

.real_estate_home_Card .beds_bath_sqft_height {
  min-height: 4rem;
}

/********LIST DATA*********/

.for_information_list {}

.for_information_list .row {}

.for_information_list .col-lg-3.col-md-4 {
  width: 100%;
}

.for_information_list img {
  width: 200px;
  height: 200px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px !important;
}

.for_information_list .d-flex img {
  width: 25px !important;
  height: auto !important;
  border-bottom-left-radius: 0px !important;
}

.custom_logo {
  max-width: 100%;
  height: 80px;
  object-fit: contain;
  width: 80%;
}
.header-extend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoMessage {
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 8px;
  line-height: 24px;
  color: #4e4b4b;
  font-weight: 400;
}

.expiry_time svg {
  fill: #5f7693;
  width: 30px;
}

.expiry_time span {
  font-size: 14px;
  font-weight: 500;
}

.offer_filter {
  display: flex;
  justify-content: flex-end;
}

.offer_filter_wrapz {
  display: flex;
  justify-content: flex-end;
}

.open_profile_sidebar {
  display: none;
}

.table-responsive {
  overflow-x: inherit !important;
  -webkit-overflow-scrolling: touch;
}

.no_wrap {
  white-space: nowrap;
}

table tbody tr {
  border-bottom: 1px dashed #5f76932b !important;
}

.promo_tbl table tbody tr {
  border-bottom: 1px dashed #fff !important;
}

.promo_tbl table tbody tr td {
  border-bottom: 1px dashed #fff !important;
}

.rti--input {
  width: 100% !important;
}

.for_list_view_cl .realEstate_img {
  width: 30% !important;
  margin-right: 20px;
}

.for_list_view_cl .realEstate_text_data {
  width: 68% !important;
}

.for_list_view_cl- .dsfsdf {
  position: relative !important;
}

._mob_sidebar_ {
  display: none;
}

._busi_cat .styl_css {
  width: auto !important;
}

.post_details_dse {
  padding: 10px 0;
}

.post_details_dse p {
  font-size: 15px;
  line-height: 24px;
  color: #6b6b6b;
  font-weight: 400;
}

/**********RESPOSNIVE****************/
/*Mobile*/
@media (max-width: 767px) {

  /********LIST DATA*********/
  .for_information_list img {
    width: 150px;
    height: 150px;
  }

  /********CLOSE LIST DATA*********/
  .banner_caption {
    max-width: 90%;
  }

  aside {
    position: fixed;
    left: -70%;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    width: 70%;
    overflow: auto;
    height: 100vh;
    padding: 14px 16px;
    transition: 0.5s;
  }

  aside br {
    display: none;
  }

  .errBoxStyle {
    width: 100%;
  }

  .banner_caption h1 {
    font-size: 32px;
    margin-bottom: 35px;
  }

  .banner_caption p {
    display: none;
  }

  .banner_slider img {
    height: 390px;
  }

  .banner_slider .slick-next:before {
    left: 65px;
  }

  .banner_slider .slick-prev {
    left: 0;
  }

  .banner_slider .slick-next:before,
  .banner_slider .slick-prev:before {
    display: none !;
  }

  .slick-slider button {
    display: none !important;
  }

  .realEstate_slide_wrap {
    padding: 24px 0;
    margin-top: 20px;
  }

  .section_Heading h2 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  .section_Heading p {
    font-size: 13px;
    text-align: center;
  }

  .btn_view_dtls a {
    border-radius: 3.2px;
    background: #5f7693;
    padding: 10px 24px;
    margin-bottom: 4px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 300 !important;
    font-size: 13px;
  }

  .jobs_tab span {
    border-radius: 3px;
    background: #efefef;
    /* margin: 0px 3px; */
    padding: 3px 6px;
    font-size: 10px;
    border: 1px solid #5f769329;
    font-weight: 600;
  }

  .job_grd_top img {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .verify_tick img {
    margin-right: 5px;
    width: 18px;
  }

  .wrap_jobs_slider {
    margin-right: 0px;
  }

  .wrap_job_slider_data .slick-next:before {
    left: -18px;
  }

  .wrap_job_slider_data .slick-prev {
    right: 75px;
  }

  .wrap_search_inner_data_3 {
    width: 100%;
  }

  .wrap_search_inner_data {
    width: 100%;
  }

  .wrap__hed_da {
    justify-content: space-between !important;
  }

  /************/
  .close_filter {
    position: fixed;
    z-index: 99;
    padding: 4px 13px;
    font-size: 23px;
    color: black;
    top: 0;
    line-height: 0;
    left: -100%;
    transition: 0.5s;
  }

  .show_filter {
    left: 0 !important;
  }

  .show_filter .close_filter {
    left: 66%;
  }

  .close_filter {
    display: block;
  }

  .fillter_line {}

  .for_list_view_cl .realEstate_itme {
    display: block;
  }

  .for_list_view_cl .realEstate_itme a img {
    width: 100% !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .for_list_view_cl .realEstate_itme .realEstate_img {
    width: 100% !important;
  }

  .for_list_view_cl .realEstate_text_data {
    width: 100% !important;
    padding: 10px;
  }

  .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .for_list_view_cl .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .beds_bath_sqft p {
    font-size: 10px;
    margin: 0 3px;
    font-weight: 600;
    margin-right: 0px;
  }

  .realEstate_img img {
    height: 130px;
    object-fit: cover;
  }

  ._busi_cat .styl_css {
    width: 100% !important;
  }

  .realEstate_text_data h3 {
    font-size: 14px;
    font-weight: 500;
    height: 33px;
  }

  .btn_view_dtls a {
    border-radius: 3.2px;
    background: #5f7693;
    padding: 6px 11px;
    margin-bottom: 4px;
  }

  .beds_bath_sqft {
    margin: 5px 0;
  }


  .star_rtng_star svg {
    font-size: 13px;
  }

  .star_rtng_nmbr {
    font-size: 10px;
  }

  .header_notice p {
    margin-bottom: 0;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .uploadby_by p {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
  }

  ._header_logo_wrap .custom_logo {
    width: 80% !important;
    height: auto;
  }

  ._to_left_ {
    display: none;
  }

  ._mob_sidebar_ {
    display: block;
    padding: 10px;
    position: relative;
    bottom: -56px;
    left: 0;
    right: 0;
  }

  .tab-buttons {
    padding: 10px 0;
  }
}

/*small mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
  .section_Heading h2 {
    text-align: initial;
  }

  .section_Heading p {
    text-align: initial;
  }

  .filter_open {
    left: 0;
  }

  .offer_filter {
    display: flex;
    justify-content: center;
  }

  .filter_open {
    left: 0;
  }

  .filter_open .close_filter {
    left: 66%;
  }

  .styl_css {
    width: 100%;
  }

  .coupon_copy {
    display: none;
  }

  .table-responsive {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .offer_filter_wrapz {
    display: block;
    /* justify-content: flex-end; */
  }

  .open_profile_sidebar {
    display: block;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .outer_layer {
    position: relative;
    width: 100dvw;
    height: 90dvh;
  }

  .inner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .business__mode .radio_btn_wrap label {
    background-color: #f8f9fa;
    width: auto !important;
  }

  .tab-button {
    white-space: nowrap;
  }

  table tr th {
    white-space: nowrap;
  }

  .open_profile_sidebar svg {
    width: 24px;
    height: 24px;
  }

  .realEstate_slide_wrap .section_Heading h2 {
    text-align: left;
  }

  .realEstate_slide_wrap .section_Heading p {
    text-align: left;
  }

  .table-responsive {
    display: block;
  }
}

.realEstateIcon {
  width: 26px;
  background-color: rgb(237, 241, 249);
  height: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  color: #a1abc9;
  justify-content: center;
}


/*landscape mobiles devices*/
@media (max-width: 736px) and (orientation: landscape) {
  .section_Heading h2 {
    text-align: initial;
  }

  .section_Heading p {
    text-align: initial;
  }

  .filter_open {
    left: 0;
  }

  .filter_open {
    left: 0;
  }

  .filter_open .close_filter {
    left: 66%;
  }

  .table-responsive {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .business__mode .radio_btn_wrap label {
    background-color: #f8f9fa;
    width: auto !important;
  }

  table tr th {
    white-space: nowrap;
  }

  table tbody tr {
    border-bottom: 1px dashed #5f76932b !important;
  }

  table tbody tr td {
    border-bottom: 1px dashed #5f76932b !important;
  }
}

/*tablet devices (both orentations)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .banner_caption {
    max-width: 80%;
  }

  .banner_slider .slick-next:before {
    left: 40px;
  }

  .banner_slider .slick-prev {
    left: 10px;
  }

  .mobile_logo {
    display: block;
  }

  .job_grd_top img {
    width: 100%;
    padding: 10px;
  }

  .wrap_jobs_slider {
    margin-right: 5px;
  }

  .jobs_tab span {
    padding: 3px 5px;
    font-size: 9px;
    border: 1px solid #5f769329;
    font-weight: 500;
  }

  .beds_bath_sqft p {
    font-size: 10px;
    margin-right: 0;
  }

  .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .for_list_view_cl .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .beds_bath_sqft {
    margin: 5px 0;
    margin-bottom: 0;
  }

  .for_list_view_cl .realEstate_text_data {
    padding: 15px 12px;
    width: 90%;
  }

  .for_list_view_cl .realEstate_img img {
    height: 255px !important;
  }

  .for_list_view_cl .uploadby_by p {
    font-size: 10px;
  }

  .for_list_view_cl .btn_view_dtls a {
    padding: 6px 14px;
    font-weight: 300 !important;
    font-size: 13px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .section_Heading h2 {
    font-size: 20px;
  }

  .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .for_list_view_cl .beds_bath_sqft {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .realEstate_img img {
    height: 140px;
  }

  .realEstate_text_data h3 {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1220px !important;
  }
}








/* Promoted badge design */
.promoted-badge {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 5px 0px 0px;
  background: var(--color-secondary);
  color: var(--color-text-black);
  max-width: fit-content;
  border-radius: 30px;
  padding: .2rem .5rem;
}



.for_information_list .full_size_card {
  width: 100%;
}



