.footer_section {
  padding: 110px 0 10px;
  background-color: #eff2f6;
}

.footer_logo_area {
  padding-bottom: 12px;
}

.footer_logo_area img {
  margin-bottom: 15px;
}

.footer_logo_area p {
  font-size: 14px;
}

.footer_logo_area a {
  margin: 0 8px;
  color: #5f7693;
  font-size: 24px;
}

.footer_menu_item h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.menu_list {
  padding: 0;
}

.menu_list li {
  display: inline-block;
  width: 100%;
  padding: 6px;
}

.menu_list li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #5f7693;
}

.copyright_area {
  text-align: center;
}

.copyright_area p {
  margin-bottom: 0;
  font-size: 13px;
  color: #5f7693;
  border-top: 1px solid #090a0a47;
  padding-top: 10px;
}

.footer_intro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 85px;
}
/*Mobile*/
@media (max-width: 767px) {
  .footer_section {
    padding: 40px 0 10px;
    margin-top: 30px;
  }

  .footer_logo_area {
    margin-bottom: 30px;
  }
}

/*small mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
}

/*landscape mobiles devices*/
@media (max-width: 736px) and (orientation: landscape) {
}

/*tablet devices (both orentations)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .footer_logo_area {
    margin-bottom: 30px;
  }
}

/*For small screens and laptops devices*/
@media (min-width: 980px) and (max-width: 1199px) {
}
